<h1>demo-app</h1>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= button_to "投稿する", new_post_path, method: :get %>

<% @posts.each do |post| %>
<%= link_to(post_path(post), class: "post-content") do %>
<div class="post">
  <div class="post-title">
  タイトル：<%= post.title %>
  </div>
  <div class="post-text">
  本文：<%= post.text %>
  </div>
  <div class="post-date">
  投稿日時：<%= post.created_at%>
  </div>
  <div class="post-user">
  投稿者：<%= post.user.nickname%>
  </div>
</div>
<% end %>
<% end %>
